<div class="flex flex-col justify-between h-full items-center py-10">
  <!-- Perfil -->
<div class="flex flex-col gap-3 w-full justify-center items-center text-black select-none">
 <img
  src="assets/PerfilMenu.png"
  alt="Foto de Guilherme Rippel"
  class="w-32 h-32 rounded-full
         object-cover object-center
         border-2 border-neutral-300
         shadow-sm
         bg-white"
/>

  <span class="font-bold text-xl tracking-wide">
    Guilherme Rippel
  </span>

  <span class="text-sm text-neutral-500">
    Desenvolvedor FrontEnd
  </span>
</div>

  <!-- Menu -->
  <div class="w-full text-center tracking-wide">
    <ul class="font-bold text-gray-800 flex flex-col justify-center items-center gap-7 w-full">
      <li class="hover:text-[#d32f2f] transition-colors duration-200 cursor-pointer w-3/5 text-lg" routerLink="/">Página Inicial</li>
      <li class="hover:text-[#d32f2f] transition-colors duration-200 cursor-pointer w-3/5 text-lg" routerLink="/about">Sobre mim</li>
      <li class="hover:text-[#d32f2f] transition-colors duration-200 cursor-pointer w-3/5 text-lg" routerLink="/experience">Experiências</li>
      <li class="hover:text-[#d32f2f] transition-colors duration-200 cursor-pointer w-3/5 text-lg" routerLink="/projects">Meus Projetos</li>
    </ul>
  </div>

  <!-- Botão -->
  <div class="w-full text-center">
    <button
      (click)="openWhatsapp()"
      class="bg-[#d32f2f] font-bold text-white w-2/3 py-2 rounded-3xl shadow-lg transition-colors duration-300 cursor-pointer"
      type="button"
    >
      Entrar em contato
    </button>
  </div>

  <!-- Ícones sociais -->
  <div class="flex gap-6 mt-6">
  <a href="https://gmail.com" target="_blank" class="hover:text-[#d32f2f]">
    <fa-icon [icon]="faEnvelope"></fa-icon>
  </a>

  <a href="https://linkedin.com" target="_blank" class="hover:text-[#d32f2f]">
    <fa-icon [icon]="faLinkedin"></fa-icon>
  </a>

  <a href="https://github.com/GuilhermeRippel" target="_blank" class="hover:text-[#d32f2f]">
    <fa-icon [icon]="faGithub"></fa-icon>
  </a>
  </div>
</div>
