<div
  class="w-full h-full bg-white rounded-xl overflow-hidden shadow-lg group flex flex-col justify-around transition-all duration-300 hover:shadow-2xl"
>
  <!-- imagem -->
  <div class="relative h-[50%] overflow-hidden border-b border-gray-300 shadow-md">
    <img
      src="{{ configurationProject.imageUrl }}"
      class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
    />

    <div
      class="absolute inset-0 bg-gradient-to-t from-[#d32f2f]/90 to-transparent opacity-0 group-hover:opacity-100 transition flex items-center justify-center gap-4"
    >
      <button
      (click)="navigateToDemo(configurationProject.demoUrl)"
        class="border border-white text-white px-4 py-2 rounded-md hover:bg-white hover:text-[#d32f2f] transition cursor-pointer"
      >
        Demo
      </button>

      <button
      (click)="naviateToGitHub(configurationProject.gitHubUrl)"
        class="border border-white text-white px-4 py-2 rounded-md hover:bg-white hover:text-[#d32f2f] transition cursor-pointer"
      >
        GitHub
      </button>
    </div>
  </div>

  <div class="p-5 flex flex-col flex-1 justify-between">
    <h3 class="text-lg font-semibold text-gray-800">{{ configurationProject.title }}</h3>

    <p class="text-sm text-gray-600 mt-2">
      {{ configurationProject.description }}
    </p>

    <div class="flex flex-wrap gap-2 mt-4">
      <span
        *ngFor="let tec of configurationProject.tecnologies"
        class="text-xs bg-gray-100 px-2 py-1 rounded-md border border-gray-300 hover:border-[#d32f2f] hover:text-[#d32f2f] transition"
      >
        {{ tec }}
      </span>
    </div>

    <div class="h-[3px] bg-[#d32f2f] w-0 group-hover:w-full transition-all duration-500 mt-4"></div>
  </div>
</div>
